<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
				<p:dataTable id="productTable" var="product" value="#{productsListBean.getAllProducts()}"  
	                 paginator="true" rows="15"  
	                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
	                 rowsPerPageTemplate="15,30,50"
	                 rowKey="#{product.id}"
	                 selection="#{productsListBean.selectedProduct}" 
	                 selectionMode="single"
	                 filteredValue="#{productsListBean.filteredProducts}"
	                 emptyMessage="#{valid['dataTable.noRecords']}" >  
			        
			        <p:ajax event="rowSelect" update="editBtn" />
        			<p:ajax event="rowUnselect" update="editBtn" />
			                     
			        <f:facet name="header">  
			            Lista produktów
			        </f:facet>  
			  
			        <p:column filterMatchMode="contains" filterBy="name" >  
			            <f:facet name="header">  
			                <h:outputText value="Nazwa" />  
			            </f:facet>  
			            <h:outputText value="#{product.name}" />  
			        </p:column>
			        
			        <p:column>  
			            <f:facet name="header">  
			                <h:outputText value="Ilość" />  
			            </f:facet>  
			            <h:outputText value="#{product.amount}" />  
			        </p:column>
			        
			        <p:column>  
			            <f:facet name="header">  
			                <h:outputText value="Jednostka" />  
			            </f:facet>  
			            <h:outputText value="#{product.unit.name}" />  
			        </p:column>
			        
			        <p:column>  
			            <f:facet name="header">  
			                <h:outputText value="Opis" styleClass="preformatted" />  
			            </f:facet>  
			            <h:outputText value="#{product.description}" />  
			        </p:column>
			        
			        <p:column>
			        	<f:facet name="header">
			        		<h:outputText value="Cena" />
			        	</f:facet>
			        	<h:outputText value="#{product.price}" >
			        		<f:convertNumber pattern="#0.00" />
			        	</h:outputText>
			        	
			        </p:column>
			        
			        <f:facet name="footer">
			        	<p:commandButton value="Nowy" action="#{productsListBean.goToNewProductView()}" /> 
			    		<p:commandButton id="editBtn" value="Edytuj" action="#{productsListBean.loadProductToEdit()}"
			    			disabled="#{productsListBean.selectedProduct == null}" />  
			      <!--  <p:commandButton value="Usuń" action="#{productsListBean.removeProduct()}" />  -->   
       				</f:facet>  
			    </p:dataTable>  		    
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>