<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<p:panel header="Nowy produkt">
	    			<p:panelGrid id="newProductGrid" columns="3" >		    				
		    				<p:outputLabel for="name" value="Nazwa:" />
		    				<p:inputText id="name" value="#{productsNewBean.product.name}" maxlength="50" required="true" 
		    							validatorMessage="#{valid['productName.validMsg']}"
		    							requiredMessage="#{valid['productName.reqMsg']}" >
								<f:validateRegex pattern="#{valid['productName.regex']}" />
							</p:inputText>
							<p:message for="name" display="icon" />
							
							<p:outputLabel for="amount" value="Ilość:" />
		    				<p:inputText id="amount" value="#{productsNewBean.product.amount}" maxlength="11" required="true" 
		    							validatorMessage="#{valid['productAmount.validMsg']}"
		    							requiredMessage="#{valid['productAmount.reqMsg']}" >
									<f:validateDoubleRange minimum="#{valid['productAmount.minVal']}" 
										maximum="#{valid['productAmount.maxVal']}"/>
							</p:inputText>
							<p:message for="amount" display="icon" />
							
							<p:outputLabel for="unit" value="Jednostka:" />
							<p:selectOneMenu id="unit"
								value="#{productsNewBean.product.unit}"
								converter="UnitConverter">
								<f:selectItems value="#{productsNewBean.getAllUnits()}"
									var="unit" 
									itemValue="#{unit}"
									itemLabel="#{unit.name}" />
							</p:selectOneMenu>
							<p:message for="unit" display="icon" />
							
							<p:outputLabel for="price" value="Cena:" />
		    				<p:inputText id="price" value="#{productsNewBean.product.price}" maxlength="11" required="true" 
		    							validatorMessage="#{valid['productPrice.validMsg']}"
		    							requiredMessage="#{valid['productPrice.reqMsg']}" >
									<f:validateDoubleRange minimum="#{valid['productPrice.minVal']}" 
										maximum="#{valid['productPrice.maxVal']}"/>
							</p:inputText>
							<p:message for="price" display="icon" />
							
							<p:outputLabel for="description" value="Opis:" />
							<p:inputTextarea id="description"
								value="#{productsNewBean.product.description}" rows="5"
								cols="50" maxlength="100" autoResize="false" />
							<p:message for="description" display="icon" />
	 						
	 						<f:facet name="footer">  
       							<p:commandButton value="Dodaj" action="#{productsNewBean.addProduct()}" update="newProductGrid" ajax="false" />
    						</f:facet>  					
	    			</p:panelGrid>
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>