<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
     
			     <p:dataTable id="announcementTable" var="announcement" value="#{announcementsListBean.getAnnouncementList()}"
			     	emptyMessage="Brak ogłoszeń" >
			     
			     <p:ajax event="rowToggle" listener="#{announcementsListBean.onRowToggle}" update="announcementAnswersTable" /> 
			     
			        <f:facet name="header">  
			            Ogłoszenia
			        </f:facet>  
			        <p:column style="width:1%">  
			            <p:rowToggler />  
			        </p:column>  
			        <p:column style="width:10%">  
			            <f:facet name="header">  
			              	Autor
			            </f:facet>  
			            <h:outputText value="#{announcement.user.login}" />  
			        </p:column>  
			        <p:column style="width:74%">  
			            <f:facet name="header">  
			            	Treść  
			            </f:facet>  
			            <h:outputText value="#{announcement.content}" />  
			        </p:column>
			                <p:column style="width:15%">  
			            <f:facet name="header">  
			          		Data 
			            </f:facet>  
			            <h:outputText value="#{announcement.date}" />  
			        </p:column>  
			        <p:rowExpansion>  
			            <p:dataTable id="announcementAnswersTable" var="answer" value="#{announcement.announcementAnswers}" 
			            	styleClass="align-right data-table-no-header" 
			            	style="width: 95%"
			            	emptyMessage="Brak odpowiedzi" >  
					        <p:column style="width:10%">  
					            <h:outputText value="#{answer.user.login}" />  
					        </p:column>  
					        <p:column style="width:74%">  
					            <h:outputText value="#{answer.content}" />  
					        </p:column>
			                <p:column style="width:15%">  
					            <h:outputText value="#{answer.date}" />  
					        </p:column> 
			            </p:dataTable>
		            	
						<p:panelGrid styleClass="table-align-top align-right" style="width: 95%">
				        	<p:row>
				        	<p:column style="width: 10%">
				        		<p:outputLabel for="answerTxt" value="Treść:" />
				        	</p:column>
				        	<p:column style="width: 90%">
			    				<p:inputTextarea id="answerTxt" value="#{announcementsListBean.answerContent}"
			    							maxlength="5000" counter="counter"
			    							counterTemplate="Dostęna ilość znaków: {0}"
			    							rows="10"
			    							style="width: 99%" >
								</p:inputTextarea>
							</p:column>
							</p:row>
							<p:row>
								<p:column style="width: 10%"></p:column>
								<p:column style="width: 90%">
									<h:outputText id="counter" />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="width: 10%"></p:column>
								<p:column style="width: 90%">
									<p:commandButton value="Dodaj odpowiedź" 
										actionListener="#{announcementsListBean.addNewAnswer(announcement)}" 
										styleClass="align-right" update="announcementAnswersTable" />
								</p:column>
							</p:row>
				        </p:panelGrid>
			            <br />
			            <br />
			        </p:rowExpansion>  
			    </p:dataTable>  
	    		<p:panelGrid styleClass="max-width" rendered="#{sessionBean.admin}" >
		        	<p:row>
		        	<p:column style="width: 10%">
		        		<p:outputLabel for="newAnnouncementTxt" value="Treść:" />
		        	</p:column>
		        	<p:column style="width: 90%">
	    				<p:inputTextarea id="newAnnouncementTxt" value="#{announcementsListBean.announcementContent}"
  							maxlength="5000" counter="counter"
  							counterTemplate="Dostęna ilość znaków: {0}"
  							rows="10"
  							style="width: 99%" >
						</p:inputTextarea>
					</p:column>
					</p:row>
					<p:row>
						<p:column style="width: 10%"></p:column>
						<p:column style="width: 90%">
							<h:outputText id="counter" />
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width: 10%">
							<p:outputLabel value="Data zakończenia:" />
						</p:column>
						<p:column style="width: 90%">

							<p:calendar	value="#{announcementsListBean.announcementToDate}" 
								id="popupCal"
								pattern="yyyy-MM-dd HH:mm"
								locale="pl" />  
						</p:column>
					</p:row>
					<p:row>
						<p:column style="width: 10%"></p:column>
						<p:column style="width: 90%">
							<p:commandButton value="Dodaj ogłoszenie" 
								actionListener="#{announcementsListBean.addNewAnnouncement()}" 
								styleClass="align-right" update="announcementTable" />
						</p:column>
					</p:row>
		        </p:panelGrid>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>