<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
				<p:schedule id="schedule" 
					value="#{scheduleIndexBean.eventModel}" 
					widgetVar="schedule"
					locale="pl" 
					timeFormat="HH:mm"
					axisFormat="HH:mm"
					slotMinutes="15"
					aspectRatio="2" >
					<p:ajax event="dateSelect" listener="#{scheduleIndexBean.onDateSelect}" update="eventDetails" 
						oncomplete="PF('eventDialog').show()" />  
        			<p:ajax event="eventSelect" listener="#{scheduleIndexBean.onEventSelect}" update="eventDetails" 
        				oncomplete="PF('eventDialog').show()" />
        			<p:ajax event="eventMove" listener="#{scheduleIndexBean.onEventMove}" update="eventDetails" /> 
        			<p:ajax event="eventResize" listener="#{scheduleIndexBean.onEventResize}" update="eventDetails" /> 
				</p:schedule>	
				<p:dialog widgetVar="eventDialog" header="Nowe zdarzenie" showEffect="clip" hideEffect="clip">  
			        <h:panelGrid id="eventDetails" columns="2">  
			            
			            <h:outputLabel for="content" value="Treść:" />
			            <p:inputTextarea id="content" rows="10" cols="50" value="#{scheduleIndexBean.event.title}" 
			            	maxlength="200" />  
			            
			            <h:outputLabel for="popupCalStartDate" value="Od:" />  
   			            <p:calendar	value="#{scheduleIndexBean.event.startDate}" 
							id="popupCalStartDate"
							pattern="yyyy-MM-dd HH:mm"
							locale="pl"
							stepMinute="15" />
			  
			            <h:outputLabel for="popupCalEndDate" value="Do:" />  
			            <p:calendar	value="#{scheduleIndexBean.event.endDate}" 
							id="popupCalEndDate"
							pattern="yyyy-MM-dd HH:mm"
							locale="pl"
							stepMinute="15" />
			   
			   			<p:commandButton id="addButton" value="Dodaj" actionListener="#{scheduleIndexBean.addEvent}" 
			   				rendered="#{scheduleIndexBean.event.getId() == null}"
			            	oncomplete="PF('schedule').update();PF('eventDialog').hide();" />
		            	<p:commandButton id="saveButton" value="Zapisz" actionListener="#{scheduleIndexBean.addEvent}"
		            		rendered="#{scheduleIndexBean.event.getId() != null}" 
			            	oncomplete="PF('schedule').update();PF('eventDialog').hide();" />
			            <p:commandButton id="removeButton" value="Usuń" actionListener="#{scheduleIndexBean.removeEvent}" 
			            	oncomplete="PF('schedule').update();PF('eventDialog').hide();" 
			            	disabled="#{scheduleIndexBean.event.getId() == null}" />
			        </h:panelGrid>  
			    </p:dialog>	       
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>