<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<f:metadata>
	    			<f:viewParam name="transactionId" value="#{transactionsDetailsBean.transactionId}" />
	    			<f:viewAction action="#{transactionsDetailsBean.init()}"/>
	    		</f:metadata>
    		
    			<p:panel header="Szczegóły transakcji" rendered="#{transactionsDetailsBean.transaction != null}">	
	    			<p:panelGrid styleClass="table-align-top table-no-border">
	    				<p:row>
	    				<p:column>
		    				<h3>Transakcja:</h3>
		    				<p:panelGrid id="transactionDetailsInfoTable">
		    					<p:row>
		    						<p:column>
		    							<p:outputLabel value="Id:" />&nbsp;
		    						</p:column>
		    						<p:column>
		    							<p:outputLabel value="#{transactionsDetailsBean.transaction.id}"/>
		    						</p:column>
		    					</p:row>
		    					<p:row>
		    						<p:column>
		    							<p:outputLabel value="Oczekuje od:" />&nbsp;
		    						</p:column>
		    						<p:column>
		    							<p:outputLabel value="#{transactionsDetailsBean.transaction.date}"/>
		    						</p:column>
		    					</p:row>
		    				</p:panelGrid>           
			            	<h3>Kontrahent:</h3>
			                <p:panelGrid id="contractorDetailsInfoTable" >  
			                	<p:row>
			                		<p:column>
										<p:outputLabel value="Nazwa:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Ulica:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.street} #{transactionsDetailsBean.transaction.contractor.num}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Miasto:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.city.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Kod-pocztowy:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.zipCode}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Województwo:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.province.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Kraj:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.country.name}"/>	
									</p:column>
								</p:row>
								<p:row rendered="#{transactionsDetailsBean.transaction.contractor.type == 'COMPANY'}">
									<p:column>
										<p:outputLabel value="NIP:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.NIP}"/>
									</p:column>
								</p:row>
								<p:row rendered="#{transactionsDetailsBean.transaction.contractor.type == 'COMPANY'}">
									<p:column>
										<p:outputLabel value="REGON:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.REGON}"/>
									</p:column>
								</p:row>
								<p:row rendered="#{transactionsDetailsBean.transaction.contractor.type == 'PERSON'}">
									<p:column>
										<p:outputLabel value="PESEL:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.PESEL}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Branża:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.trade.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Działaność:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.activity.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Opis:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.contractor.description}"/>
									</p:column>
								</p:row>					
			                </p:panelGrid>			            
			                <h3>Przedstawiciel:</h3>
			                <p:outputLabel value=" Brak" rendered="#{transactionsDetailsBean.transaction.agent == null}" />
			                <p:panelGrid id="agentDetailsInfoTable" rendered="#{transactionsDetailsBean.transaction.agent != null}">  
			                	<p:row>
			                		<p:column>
										<p:outputLabel value="Imię:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.agent.name}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Nazwisko:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.agent.lastName}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Telefon:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.agent.phoneNumber}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="E-mail:" />&nbsp;
									</p:column>
									<p:column>
										<p:outputLabel value="#{transactionsDetailsBean.transaction.agent.email}"/>
									</p:column>
								</p:row>									
			                </p:panelGrid>
			                <h3>Produkty:</h3>
			                <p:dataList value="#{utils.convertSetToList(transactionsDetailsBean.transaction.transactionProducts)}" 
			                	var="transactionProduct" 
			                	type="definition"
			                	rowIndexVar="index"
			                	styleClass="list-like-table" >
							    #{index+1}. #{transactionProduct.product.name} #{transactionProduct.amount} #{transactionProduct.product.unit.name} Cena: #{utils.formatCurrency(transactionProduct.amount * transactionProduct.product.price)}
							</p:dataList>
							<h3>
							<h:outputLabel value="Do zapłaty: " />
							<h:outputLabel value="#{transactionsDetailsBean.totalCost}" >
							<f:convertNumber pattern="#0.00" />
							</h:outputLabel>
							</h3>						
							<p:commandButton id="finalizeBtn" value="Finalizuj" action="#{transactionsDetailsBean.finalizeTransaction()}"
								disabled="#{transactionsDetailsBean.transaction.status == 'COMPLETE'}" update="finalizeBtn"/>  
						</p:column>
						<p:column styleClass="max-width">
							<h3>Komentarze:</h3>
							<p:dataList id="transactionCommentsList" value="#{utils.convertSetToListAndSort(transactionsDetailsBean.transaction.comments)}"
			                	var="transactionComment" 
			                	type="definition"
			                	rowIndexVar="index"
			                	styleClass="list-like-table"
			                	emptyMessage="" >
							    #{index+1}. #{transactionComment.content}<br/><span class="align-right">Dodano: #{utils.formatDate(transactionComment.date)}</span><br />
							    <p:separator />
							</p:dataList>  
							<p:commandButton id="newCommentBtn" value="Nowy komentarz" type="button" />  
						    <p:overlayPanel id="newCommentPanel" for="newCommentBtn" hideEffect="fade"
						    	widgetVar="newCommentOverlayPanel">  
						        <p:panelGrid styleClass="table-align-top" >
						        	<p:row>
						        	<p:column>
						        		<p:outputLabel for="comment" value="Treść:" />
						        	</p:column>
						        	<p:column>
					    				<p:inputTextarea id="comment" value="#{transactionsDetailsBean.commentContent}"
					    							maxlength="400" required="true" counter="counter"
					    							requiredMessage="#{valid['transactionComment.reqMsg']}" 
					    							counterTemplate="Dostęna ilość znaków: {0}" autoResize="false"
					    							rows="10" cols="70" >
										</p:inputTextarea>
									</p:column>
									</p:row>
									<p:row>
										<p:column></p:column>
										<p:column>
											<h:outputText id="counter" />
										</p:column>
									</p:row>
						        </p:panelGrid>
						        <p:commandButton id="addCommentBtn" value="Dodaj" actionListener="#{transactionsDetailsBean.addNewComment()}" 
						        	styleClass="align-right overlay-panel-confirm-btn" update="transactionCommentsList" /> 
						    </p:overlayPanel>
						</p:column>
						</p:row>
					</p:panelGrid>
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>