<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<p:panelGrid columns="2" styleClass="select-table">
    				<h:outputLabel for="transactionListType" value="Rodzaj:" />  
			        <p:selectOneMenu id="transactionListType" value="#{transactionsListBean.listType}" >  
			            <f:selectItems value="#{transactionsListBean.listTypes}" />
			            <p:ajax event="change" update="transactionsListTable" 
			            	listener="#{transactionsListBean.changeTransactionsList()}"/>
			        </p:selectOneMenu>
			 	</p:panelGrid>
				<p:dataTable id="transactionsListTable" var="transaction" value="#{transactionsListBean.getTransactionsList()}"  
	                 paginator="true" rows="15"  
	                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
	                 rowsPerPageTemplate="15,30,50"
	                 rowKey="#{transaction.id}"
	                 selection="#{transactionsListBean.selectedTransaction}" 
	                 selectionMode="single"
	                 filteredValue="#{transactionsListBean.filteredTransactions}"
	                 emptyMessage="#{valid['dataTable.noRecords']}" >  
			        
			        <p:ajax event="rowSelect" update="detailsBtn" />
        			<p:ajax event="rowUnselect" update="detailsBtn" />
			                     
			        <f:attribute name="header" value="#{transactionsListBean.transactionListTitle}"/>
			  
			        <p:column filterMatchMode="contains" filterBy="contractor.name" >  
			            <f:facet name="header">  
			                <h:outputText value="Kontrahent" />  
			            </f:facet>  
			            <h:outputText value="#{transaction.contractor.name}" />  
			        </p:column>
			        
			        <p:column>  
			            <f:facet name="header">  
			                <h:outputText value="Przedstawiciel" />  
			            </f:facet>  
			            <h:outputText value="#{transaction.agent.name} #{transaction.agent.lastName}" rendered="#{transaction.agent != null}" />
			            <h:outputText value="Brak" rendered="#{transaction.agent == null}" />
			        </p:column>
			        
			        <p:column>  
			            <f:facet name="header">  
			                <h:outputText value="Oczekuje od" />  
			            </f:facet>  
			            <h:outputText value="#{transaction.date}" />  
			        </p:column>
			        
			        <f:facet name="footer">
			    		<p:commandButton id="detailsBtn" value="Pokaż szczegóły" action="#{transactionsListBean.showDetails()}"
			    			disabled="#{transactionsListBean.selectedTransaction == null}" />  
       				</f:facet>  
			    </p:dataTable>  		    
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>