<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<p:panel header="Zakup">
	    			<p:wizard flowListener="#{transactionsNewBean.onFlowProcess}" 
	    				nextLabel="Dalej" 
	    				backLabel="Wstecz" 
	    				widgetVar="wiz"
	    				var="wiz" >  
	    			
				        <p:tab id="contractor" title="Kontrahent">  
				  			<p:panel header="Wybierz kontrahenta">  
				  				<p:outputLabel for="contractorSelect" value="Nazwa kontrahenta:" />&nbsp;
				                <p:autoComplete id="contractorSelect" value="#{transactionsNewBean.contractor}" 
				                	completeMethod="#{transactionsNewBean.autoCompleteContractor}"
				                	forceSelection="true"  
                    				maxlength="50" 
                    				scrollHeight="200"
									queryDelay="100" 
									converter="ContractorConverter" >          
 				                	<p:ajax event="itemSelect" update="contractorTable" />	
 				                </p:autoComplete>
 				                <p:separator />			                				                
				                <h:panelGrid id="contractorTable" >  
				                	<p:row>
				                		<p:column>
											<p:outputLabel value="Nazwa:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Ulica:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.street} #{transactionsNewBean.contractor.num}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Miasto:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.city.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Kod-pocztowy:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.zipCode}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Województwo:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.province.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Kraj:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.country.name}"/>	
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'COMPANY'}">
										<p:column>
											<p:outputLabel value="NIP:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.NIP}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'COMPANY'}">
										<p:column>
											<p:outputLabel value="REGON:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.REGON}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'PERSON'}">
										<p:column>
											<p:outputLabel value="PESEL:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.PESEL}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Branża:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.trade.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Działaność:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.activity.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Opis:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.description}"/>
										</p:column>
									</p:row>					
				                </h:panelGrid>  
				            </p:panel>  
				        </p:tab>  
				              
				        <p:tab id="agent" title="Przedstawiciel">  
				            <p:panel header="Wybierz przedstawiciela">    
				               <p:dataTable id="agentTable" var="agent" value="#{transactionsNewBean.contractor.agents}"  
					                 paginator="true" rows="15"  
					                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
					                 rowsPerPageTemplate="15,30,50"
					                 rowKey="#{agent.id}"
					                 selection="#{transactionsNewBean.agent}" 
					                 selectionMode="single"
					                 emptyMessage="#{valid['dataTable.noRecords']}" >
			                   
			        				<f:facet name="header">  
							            Lista przedstawicieli
							        </f:facet>  
							  
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Imię" />
							            </f:facet>  
							            <h:outputText value="#{agent.name}" />  
							        </p:column>
							        
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Nazwisko" />  
							            </f:facet>  
							            <h:outputText value="#{agent.lastName}" />  
							        </p:column>
							        
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Telefon" />  
							            </f:facet>  
							            <h:outputText value="#{agent.phoneNumber}" />  
							        </p:column>
							        
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="E-mail" />  
							            </f:facet>  
							            <h:outputText value="#{agent.email}" />  
							        </p:column>				                   
			                 	</p:dataTable>
				            </p:panel>
				        </p:tab>
				              
				        <p:tab id="product" title="Produkty">  
				            <p:panel header="Wybierz produkty">  
				            	<p:dataTable id="productTable" var="product" 
				            		value="#{transactionsNewBean.getAllTransactionProducts()}"  
					               	paginator="true" rows="15"  
					                paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
					                rowsPerPageTemplate="15,30,50"
					                rowIndexVar="index"
					                emptyMessage="#{valid['dataTable.noRecords']}" >  
					                    
							        <f:facet name="header">  
							            Lista produktów
							        </f:facet>  
							  
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Nazwa" />  
							            </f:facet>  
							            <h:outputText value="#{product.name}" />  
							        </p:column>
							      	
							      	<p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Cena" />  
							            </f:facet>  
							            <h:outputText value="#{product.price}" >
							            	<f:convertNumber pattern="#0.00" />
							            </h:outputText>  
							        </p:column>
							        
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Dostępna ilość" />  
							            </f:facet>  
							            <h:outputText 
							            	value="#{transactionsNewBean.getProductMaxAmount(index)} #{product.unit.name}" />  
							        </p:column>
							      							        
							        <p:column>  
							            <f:facet name="header">  
							                <h:outputText value="Ilość" />  
							            </f:facet>  
						             	<p:spinner value="#{product.amount}" min="0" 
						             		max="#{transactionsNewBean.getProductMaxAmount(index)}" />&nbsp;
							            <h:outputText value="#{product.unit.name}" /> 
							        </p:column>
							    </p:dataTable> 
				            </p:panel>  
				        </p:tab>
				        
				        <p:tab id="confirm" title="Potwierdzenie">  
				            <p:panel header="Potwierdź transakcje">  
				            	<h3>Kontrahent:</h3>
				                <h:panelGrid id="contractorConfirmInfoTable" >  
				                	<p:row>
				                		<p:column>
											<p:outputLabel value="Nazwa:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Ulica:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.street} #{transactionsNewBean.contractor.num}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Miasto:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.city.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Kod-pocztowy:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.zipCode}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Województwo:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.province.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Kraj:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.country.name}"/>	
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'COMPANY'}">
										<p:column>
											<p:outputLabel value="NIP:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.NIP}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'COMPANY'}">
										<p:column>
											<p:outputLabel value="REGON:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.REGON}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{transactionsNewBean.contractor.type == 'PERSON'}">
										<p:column>
											<p:outputLabel value="PESEL:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.PESEL}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Branża:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.trade.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Działaność:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.activity.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Opis:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.contractor.description}"/>
										</p:column>
									</p:row>					
				                </h:panelGrid>			            
				                <h3>Przedstawiciel:</h3>
				                <p:outputLabel value="Brak" rendered="#{transactionsNewBean.agent == null}" />
				                <h:panelGrid id="agentConfirmInfoTable" rendered="#{transactionsNewBean.agent != null}">  
				                	<p:row>
				                		<p:column>
											<p:outputLabel value="Imię:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.agent.name}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Nazwisko:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.agent.lastName}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="Telefon:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.agent.phoneNumber}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column>
											<p:outputLabel value="E-mail:" />&nbsp;
										</p:column>
										<p:column>
											<p:outputLabel value="#{transactionsNewBean.agent.email}"/>
										</p:column>
									</p:row>									
				                </h:panelGrid>
				                <h3>Lista wybranych produktów:</h3>
				                <p:dataList value="#{transactionsNewBean.transactionReadyProducts}" 
				                	var="product" 
				                	type="definition"
				                	rowIndexVar="index" >
								    #{index+1}. #{product.name} #{product.amount} #{product.unit.name} Cena: #{utils.formatCurrency(product.amount * product.price)}
								</p:dataList>  
								<h3>
								<h:outputLabel value="Do zapłaty: " />
								<h:outputLabel value="#{transactionsNewBean.totalPrice}" >
									<f:convertNumber pattern="#0.00" />
								</h:outputLabel>
								</h3>						
								<p:commandButton id="confirmBtn" value="Zatwierdź" 
									action="#{transactionsNewBean.confirmTransaction()}" 
									update="confirmBtn" />
				            </p:panel>
				        </p:tab>  
				          
				</p:wizard>  
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>