<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    		
	    		<f:metadata>
	    			<f:viewParam name="contractorId" value="#{contractorsEditBean.contractorId}" />
	    			<f:viewAction action="#{contractorsEditBean.init()}"/>
	    		</f:metadata>
    			
    			<p:panel header="Edycja kontrahenta">
					<p:panelGrid id="editContractorGrid" rendered="#{contractorsEditBean.contractor != null}" >
						<p:row>
							<p:column>
								<p:outputLabel for="contractorType" value="Rodzaj:" />
							</p:column>
							<p:column>
								<p:selectOneRadio id="contractorType"
									value="#{contractorsEditBean.contractorType}" layout="grid"
									columns="1">
									<f:selectItem itemLabel="Osoba fizyczna" itemValue="person" />
									<f:selectItem itemLabel="Firma" itemValue="company" />
									<p:ajax listener="#{contractorsEditBean.onContractorTypeSelect()}"
										update="editContractorGrid" />
								</p:selectOneRadio>
							</p:column>
							<p:column>	
								<p:message for="contractorType" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="name" value="Nazwa kontrahenta" />
							</p:column>
							<p:column>
								<p:inputText id="name"
									value="#{contractorsEditBean.contractor.name}" maxlength="50"
									required="true" 
									validatorMessage="#{valid['contractorName.validMsg']}"
					    			requiredMessage="#{valid['contractorName.reqMsg']}" >
								<!-- <f:validateRegex pattern="#{valid['contractorName.regex']}" /> -->
								</p:inputText>
							</p:column>
							<p:column>
								<p:message for="name" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="street" value="Ulica:" />
							</p:column>
							<p:column>
								<p:inputText id="street"
									value="#{contractorsEditBean.contractor.street}" maxlength="50"
									required="true"
									validatorMessage="#{valid['street.validMsg']}"
									requiredMessage="#{valid['street.reqMsg']}" >
								<!-- <f:validateRegex pattern="#{valid['street.regex']}" /> -->
								</p:inputText>
							</p:column>
							<p:column>	
								<p:message for="street" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="num" value="Numer:" />
							</p:column>	
							<p:column>
								<p:inputText id="num" value="#{contractorsEditBean.contractor.num}"
									maxlength="10"
									required="true" 
									validatorMessage="#{valid['streetNum.validMsg']}"
					    			requiredMessage="#{valid['streetNum.reqMsg']}" >
									<f:validateRegex pattern="#{valid['streetNum.regex']}" />
								</p:inputText>
							</p:column>
							<p:column>
								<p:message for="num" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="city" value="Miasto:" />
							</p:column>
							<p:column>
								<p:autoComplete id="city"
									value="#{contractorsEditBean.contractor.city}"
									completeMethod="#{contractorsEditBean.autoCompleteCity}"
									maxlength="50" forceSelection="true" scrollHeight="200"
									queryDelay="100" converter="CityConverter"
									required="true" 
									validatorMessage="#{valid['city.validMsg']}"
					    			requiredMessage="#{valid['city.reqMsg']}" >
									<!-- <f:validateRegex pattern="#{valid['city.regex']}" />  -->
								</p:autoComplete>
							</p:column>
							<p:column>	
								<p:message for="city" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="zipCode" value="Kod pocztowy:" />
							</p:column>
							<p:column>	
								<p:inputMask id="zipCode"
									value="#{contractorsEditBean.contractor.zipCode}"
									mask="99-999" 
									required="true" 
									validatorMessage="#{valid['zipCode.validMsg']}"
					    			requiredMessage="#{valid['zipCode.reqMsg']}" >
									<f:validateRegex pattern="#{valid['zipCode.regex']}" />
								</p:inputMask>
							</p:column>
							<p:column>
								<p:message for="zipCode" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="province" value="Województwo:" />
							</p:column>
							<p:column>
								<p:selectOneMenu id="province"
									value="#{contractorsEditBean.contractor.province}"
									converter="ProvinceConverter">
									<f:selectItems value="#{contractorsEditBean.getAllProvinces()}"
										var="province" itemValue="#{province}"
										itemLabel="#{province.name}" />
								</p:selectOneMenu>
							</p:column>
							<p:column>
								<p:message for="trade" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="country" value="Kraj:" />
							</p:column>
							<p:column>
								<p:autoComplete id="country"
									value="#{contractorsEditBean.contractor.country}"
									completeMethod="#{contractorsEditBean.autoCompleteCountry}"
									maxlength="50" forceSelection="true" scrollHeight="200"
									queryDelay="100" converter="CountryConverter"
									required="true"
									validatorMessage="#{valid['country.validMsg']}"
					    		 	requiredMessage="#{valid['country.reqMsg']}" >
							    <!-- <f:validateRegex pattern="#{valid['country.regex']}" /> -->
								</p:autoComplete>
							</p:column>
							<p:column>
								<p:message for="country" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="nip" value="NIP:"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}" />
							</p:column>
							<p:column>
								<p:inputText id="nip" value="#{contractorsEditBean.contractor.NIP}"
									maxlength="13"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}"
									validatorMessage="#{valid['nip.validMsg']}"
					    			requiredMessage="#{valid['nip.reqMsg']}" >
									<!-- <f:validateRegex pattern="#{valid['nip.regex']}" /> -->
								</p:inputText>
							</p:column>
							<p:column>
								<p:message for="nip" display="icon"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="regon" value="REGON:"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}" />
							</p:column>
							<p:column>
								<p:inputText id="regon"
									value="#{contractorsEditBean.contractor.REGON}" 
									maxlength="14"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}"
									validatorMessage="#{valid['regon.validMsg']}"
					    			requiredMessage="#{valid['regon.reqMsg']}" >
									<!-- <f:validateRegex pattern="#{valid['regon.regex']}" /> -->
								</p:inputText>
							</p:column>
							<p:column>
								<p:message for="regon" display="icon"
									rendered="#{contractorsEditBean.contractorType == 'company' ? true : false}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="pesel" value="PESEL:"
									rendered="#{contractorsEditBean.contractorType == 'person' ? true : false}" />
							</p:column>
							<p:column>	
								<p:inputText id="pesel"
									value="#{contractorsEditBean.contractor.PESEL}" maxlength="11"
									rendered="#{contractorsEditBean.contractorType == 'person' ? true : false}"
									validatorMessage="#{valid['pesel.validMsg']}"
					    			requiredMessage="#{valid['pesel.reqMsg']}" >
									<!-- <f:validateRegex pattern="#{valid['pesel.regex']}" />  -->
								</p:inputText>
							</p:column>
							<p:column>
								<p:message for="pesel" display="icon"
									rendered="#{contractorsEditBean.contractorType == 'person' ? true : false}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="trade" value="Branża:" />
							</p:column>
							<p:column>	
								<p:selectOneMenu id="trade"
									value="#{contractorsEditBean.contractor.trade}"
									converter="TradeConverter">
									<f:selectItems value="#{contractorsEditBean.getAllTrades()}"
										var="trade" itemValue="#{trade}" itemLabel="#{trade.name}" />
								</p:selectOneMenu>
							</p:column>
							<p:column>
								<p:message for="trade" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="activity" value="Działalność:" />
							</p:column>
							<p:column>	
								<p:selectOneMenu id="activity"
									value="#{contractorsEditBean.contractor.activity}"
									converter="ActivityConverter">
									<f:selectItems value="#{contractorsEditBean.getAllActivities()}"
										var="activity" itemValue="#{activity}"
										itemLabel="#{activity.name}" />
								</p:selectOneMenu>
							</p:column>
							<p:column>	
								<p:message for="activity" display="icon" />
							</p:column>
						</p:row>
						<p:row>
							<p:column>
								<p:outputLabel for="description" value="Opis:" />
							</p:column>
							<p:column>
								<p:inputTextarea id="description"
									value="#{contractorsEditBean.contractor.description}" rows="5"
									cols="30" maxlength="50" autoResize="false" />
							</p:column>
							<p:column>
								<p:message for="description" display="icon" />
							</p:column>					
						</p:row>
						<p:row>
							<p:column colspan="3">
								<p:dataTable id="agentTable" var="agent" value="#{contractorsEditBean.getContractorAgentsList()}"  
				                 paginator="true" rows="15"  
				                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				                 rowsPerPageTemplate="15,30,50"
				                 emptyMessage="#{valid['dataTable.noRecords']}" >
				             
						        <f:facet name="header">  
						            Lista przedstawicieli kontrahenta
						        </f:facet>  
						  
						        <p:column>  
						            <f:facet name="header">  
						                <h:outputText value="Imię" />  
						            </f:facet>  
						            <h:outputText value="#{agent.name}" />  
						        </p:column>
						        
						        <p:column>  
						            <f:facet name="header">  
						                <h:outputText value="Nazwisko" />  
						            </f:facet>  
						            <h:outputText value="#{agent.lastName}" />  
						        </p:column>
						        
						        <p:column>  
						            <f:facet name="header">  
						                <h:outputText value="Telefon" />  
						            </f:facet>  
						            <h:outputText value="#{agent.phoneNumber}" />  
						        </p:column>
						        
						        <p:column>  
						            <f:facet name="header">  
						                <h:outputText value="E-mail" />  
						            </f:facet>  
						            <h:outputText value="#{agent.email}" />  
						        </p:column>
						        <p:column>
						        	<p:commandButton value="Usuń" immediate="true" ajax="true" update="agentTable"
		             						actionListener="#{contractorsEditBean.removeContractorAgent(agent.id)}" />
						        </p:column> 
						    </p:dataTable>
							</p:column>
						</p:row>
						<f:facet name="footer">
							<p:row>
								<p:column colspan="3">
									<p:commandButton value="Zapisz" ajax="true" actionListener="#{contractorsEditBean.update()}" />
								</p:column>
							</p:row>
						</f:facet>
					</p:panelGrid>			 	
				</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>