<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
				<p:dataTable id="contractorTable" var="contractor" value="#{contractorsListBean.getAllContractors()}"  
				                 paginator="true" rows="15"  
				                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				                 rowsPerPageTemplate="15,30,50"
				                 rowKey="#{contractor.id}"
				                 selection="#{contractorsListBean.selectedContractor}" 
				                 selectionMode="single"
				                 filteredValue="#{contractorsListBean.filteredContractors}"
				                 emptyMessage="#{valid['dataTable.noRecords']}" >  
				        
				        <p:ajax event="rowSelect" update="editBtn, removeBtn" />
        				<p:ajax event="rowUnselect" update="editBtn, removeBtn" />
				        
				        <f:facet name="header">  
				            Lista kontrahentów
				        </f:facet>  
				        <p:column filterMatchMode="contains" filterBy="name" >  
				            <f:facet name="header">  
				                <h:outputText value="Nazwa" />  
				            </f:facet>  
				            <h:outputText value="#{contractor.name}" />  
				        </p:column>
				        <p:column filterMatchMode="contains" filterBy="street" >
				        	<f:facet name="header">  
				                <h:outputText value="Adres" />  
				            </f:facet>  
				            <h:outputText value="#{contractor.street.concat(' ').concat(contractor.num)}" />  
				        </p:column>
				        <p:column filterMatchMode="contains" filterBy="city.name" >
				        	<f:facet name="header">  
				                <h:outputText value="Miasto" />  
				            </f:facet>  
				            <h:outputText value='#{contractor.city.name}' />  
				        </p:column>
				        <p:column filterMatchMode="contains" filterBy="zipCode" >
				        	<f:facet name="header">  
				                <h:outputText value="Kod-pocztowy" />  
				            </f:facet>  
				            <h:outputText value='#{contractor.zipCode}' />  
				        </p:column>
				        <p:column filterMatchMode="contains" filterBy="province.name" >
				        	<f:facet name="header">  
				                <h:outputText value="Województwo" />  
				            </f:facet>  
				            <h:outputText value='#{contractor.province.name}' />  
				        </p:column>				        
				        <f:facet name="footer">  
				        	<p:commandButton value="Nowy" action="#{contractorsListBean.goToNewContractorView()}" />
				            <p:commandButton id="editBtn" value="Edytuj" action="#{contractorsListBean.loadContractorToEdit()}"
				            	disabled="#{contractorsListBean.selectedContractor == null}" />
				       		<p:commandButton id="removeBtn" value="Usuń" action="#{contractorsListBean.removeContractor()}" 
				       			update="contractorTable" disabled="#{contractorsListBean.selectedContractor == null}"/>
        				</f:facet>       
				    </p:dataTable>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>