<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/templates/default.xhtml">
		<ui:define name="content">
			<p:panel header="Nowy kontrahent">
				<p:panelGrid id="newContractorGrid" columns="3">
					<p:outputLabel for="contractorType" value="Rodzaj:" />
					<p:selectOneRadio id="contractorType"
						value="#{contractorsNewBean.contractorType}" layout="grid"
						columns="1">
						<f:selectItem itemLabel="Osoba fizyczna" itemValue="person" />
						<f:selectItem itemLabel="Firma" itemValue="company" />
						<p:ajax listener="#{contractorsNewBean.onContractorTypeSelect()}"
							update="newContractorGrid" />
					</p:selectOneRadio>
					<p:message for="contractorType" display="icon" />
				
					<p:outputLabel for="name" value="Nazwa kontrahenta" />
					<p:inputText id="name"
						value="#{contractorsNewBean.contractor.name}" maxlength="50"
						required="true" 
						validatorMessage="#{valid['contractorName.validMsg']}"
		    			requiredMessage="#{valid['contractorName.reqMsg']}" >
							<f:validateRegex pattern="#{valid['contractorName.regex']}" />
					</p:inputText>
					<p:message for="name" display="icon" />

					<p:outputLabel for="street" value="Ulica:" />
					<p:inputText id="street"
						value="#{contractorsNewBean.contractor.street}" maxlength="50"
						required="true"
						validatorMessage="#{valid['street.validMsg']}"
						requiredMessage="#{valid['street.reqMsg']}" >
							<f:validateRegex pattern="#{valid['street.regex']}" />
					</p:inputText>
					<p:message for="street" display="icon" />

					<p:outputLabel for="num" value="Numer:" />
					<p:inputText id="num" value="#{contractorsNewBean.contractor.num}"
						maxlength="10"
						required="true" 
						validatorMessage="#{valid['streetNum.validMsg']}"
		    			requiredMessage="#{valid['streetNum.reqMsg']}" >
							<f:validateRegex pattern="#{valid['streetNum.regex']}" />
					</p:inputText>
					<p:message for="num" display="icon" />

					<p:outputLabel for="city" value="Miasto:" />
					<p:autoComplete id="city"
						value="#{contractorsNewBean.contractor.city}"
						completeMethod="#{contractorsNewBean.autoCompleteCity}"
						maxlength="50" forceSelection="true" scrollHeight="200"
						queryDelay="100" converter="CityConverter"
						required="true" 
						validatorMessage="#{valid['city.validMsg']}"
		    			requiredMessage="#{valid['city.reqMsg']}" >
						<!-- <f:validateRegex pattern="#{valid['city.regex']}" />  -->
					</p:autoComplete>
					<p:message for="city" display="icon" />

					<p:outputLabel for="zipCode" value="Kod pocztowy:" />
					<p:inputMask id="zipCode"
						value="#{contractorsNewBean.contractor.zipCode}"
						mask="99-999" 
						required="true" 
						validatorMessage="#{valid['zipCode.validMsg']}"
		    			requiredMessage="#{valid['zipCode.reqMsg']}" >
							<f:validateRegex pattern="#{valid['zipCode.regex']}" />
					</p:inputMask>
					<p:message for="zipCode" display="icon" />

					<p:outputLabel for="province" value="Województwo:" />
					<p:selectOneMenu id="province"
						value="#{contractorsNewBean.contractor.province}"
						converter="ProvinceConverter">
						<f:selectItems value="#{contractorsNewBean.getAllProvinces()}"
							var="province" itemValue="#{province}"
							itemLabel="#{province.name}" />
					</p:selectOneMenu>
					<p:message for="province" display="icon" />

					<p:outputLabel for="country" value="Kraj:" />
					<p:autoComplete id="country"
						value="#{contractorsNewBean.contractor.country}"
						completeMethod="#{contractorsNewBean.autoCompleteCountry}"
						maxlength="50" forceSelection="true" scrollHeight="200"
						queryDelay="100" converter="CountryConverter"
						required="true"
						validatorMessage="#{valid['country.validMsg']}"
		    			requiredMessage="#{valid['country.reqMsg']}" >
					<!-- <f:validateRegex pattern="#{valid['country.regex']}" />  -->
					</p:autoComplete>
					<p:message for="country" display="icon" />

					<p:outputLabel for="nip" value="NIP:"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}" />
					<p:inputText id="nip" value="#{contractorsNewBean.contractor.NIP}"
						maxlength="13"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}"
						validatorMessage="#{valid['nip.validMsg']}"
		    			requiredMessage="#{valid['nip.reqMsg']}" >
							<f:validateRegex pattern="#{valid['nip.regex']}" />
					</p:inputText>
					<p:message for="nip" display="icon"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}" />

					<p:outputLabel for="regon" value="REGON:"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}" />
					<p:inputText id="regon"
						value="#{contractorsNewBean.contractor.REGON}" maxlength="14"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}"
						validatorMessage="#{valid['regon.validMsg']}"
		    			requiredMessage="#{valid['regon.reqMsg']}" >
							<f:validateRegex pattern="#{valid['regon.regex']}" />
					</p:inputText>
					<p:message for="regon" display="icon"
						rendered="#{contractorsNewBean.contractorType == 'company' ? true : false}" />

					<p:outputLabel for="pesel" value="PESEL:"
						rendered="#{contractorsNewBean.contractorType == 'person' ? true : false}" />
					<p:inputText id="pesel"
						value="#{contractorsNewBean.contractor.PESEL}" maxlength="11"
						rendered="#{contractorsNewBean.contractorType == 'person' ? true : false}"
						validatorMessage="#{valid['pesel.validMsg']}"
		    			requiredMessage="#{valid['pesel.reqMsg']}" >
							<f:validateRegex pattern="#{valid['pesel.regex']}" />
					</p:inputText>
					<p:message for="pesel" display="icon"
						rendered="#{contractorsNewBean.contractorType == 'person' ? true : false}" />

					<p:outputLabel for="trade" value="Branża:" />
					<p:selectOneMenu id="trade"
						value="#{contractorsNewBean.contractor.trade}"
						converter="TradeConverter">
						<f:selectItems value="#{contractorsNewBean.getAllTrades()}"
							var="trade" itemValue="#{trade}" itemLabel="#{trade.name}" />
					</p:selectOneMenu>
					<p:message for="trade" display="icon" />

					<p:outputLabel for="activity" value="Działalność:" />
					<p:selectOneMenu id="activity"
						value="#{contractorsNewBean.contractor.activity}"
						converter="ActivityConverter">
						<f:selectItems value="#{contractorsNewBean.getAllActivities()}"
							var="activity" itemValue="#{activity}"
							itemLabel="#{activity.name}" />
					</p:selectOneMenu>
					<p:message for="activity" display="icon" />

					<p:outputLabel for="description" value="Opis:" />
					<p:inputTextarea id="description"
						value="#{contractorsNewBean.contractor.description}" rows="5"
						cols="30" maxlength="50" autoResize="false" />
					<p:message for="description" display="icon" />

					<f:facet name="footer">
						<p:commandButton value="Dodaj"
							action="#{contractorsNewBean.createContractor()}"
							update="newContractorGrid" ajax="false" />
					</f:facet>
				</p:panelGrid>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>