<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    		
	    		<f:metadata>
	    			<f:viewParam name="userId" value="#{usersEditBean.userId}" />
	    			<f:viewAction action="#{usersEditBean.init()}"/>
	    		</f:metadata>
    			
    			<p:panel header="Edycja użytkownika" rendered="#{usersEditBean.user != null}">
	    			<p:panelGrid id="editUserGrid" columns="3" >		    				
		    				<p:outputLabel for="login" value="Login:" />
		    				<p:inputText id="login" value="#{usersEditBean.user.login}" maxlength="10" required="true" 
		    							validatorMessage="#{valid['login.validMsg']}"
		    							requiredMessage="#{valid['login.reqMsg']}" >
								<f:validateRegex pattern="#{valid['login.regex']}" />
							</p:inputText>
							<p:message for="login" display="icon" />
	 						
	 						<h:outputLabel for="role" value="Rola:" />
	 						<h:selectOneMenu id="role" value="#{usersEditBean.user.role}" >
							  <f:selectItems value="#{usersEditBean.userRoleValues}" />							    
							</h:selectOneMenu>
	 						<p:message for="role" display="icon" />
	 						
	 						<f:facet name="footer">  
	 							<p:commandButton value="Zapisz" update="editUserGrid" actionListener="#{usersEditBean.update()}" />
    						</f:facet>  					
	    			</p:panelGrid>
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>