<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
				<p:dataTable id="usersTable" var="user" value="#{usersListBean.getAllUsers()}"  
				                 paginator="true" rows="15"  
				                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				                 rowsPerPageTemplate="15,30,50"
				                 rowKey="#{user.id}"
				                 selection="#{usersListBean.selectedUser}" 
				                 selectionMode="single" 
				                 emptyMessage="#{valid['dataTable.noRecords']}" >  
				        
				        <p:ajax event="rowSelect" update="editBtn, removeBtn" />
        				<p:ajax event="rowUnselect" update="editBtn, removeBtn" />
				        
				        <f:facet name="header">  
				            Lista użytkowników
				        </f:facet>  
				  
				        <p:column>  
				            <f:facet name="header">  
				                <h:outputText value="Nazwa użytkownika" />  
				            </f:facet>  
				            <h:outputText value="#{user.login}" />  
				        </p:column>
				        
				        <p:column>  
				            <f:facet name="header">  
				                <h:outputText value="Rola" />  
				            </f:facet>  
				            <h:outputText value="#{user.role}" />  
				        </p:column>
				        
				        <f:facet name="footer">
				        	<p:commandButton value="Nowy" action="#{usersListBean.goToNewUserView()}" />
				            <p:commandButton id="editBtn" value="Edytuj" action="#{usersListBean.loadUserToEdit()}"
				            	disabled="#{usersListBean.selectedUser == null}" />
				            <p:commandButton id="removeBtn" value="Usuń" action="#{usersListBean.removeUser()}" 
				            	update="usersTable"
				            	disabled="#{usersListBean.selectedUser == null}" />
        				</f:facet>       
				    </p:dataTable>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>