<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<p:panel header="Nowy użytkownik">
	    			<p:panelGrid id="newUserGrid" columns="3" >		    				
		    				<p:outputLabel for="login" value="Login:" />
		    				<p:inputText id="login" value="#{usersNewBean.user.login}" maxlength="10" required="true" 
		    							validatorMessage="#{valid['login.validMsg']}"
		    							requiredMessage="#{valid['login.reqMsg']}" >
								<f:validateRegex pattern="#{valid['login.regex']}" />
							</p:inputText>
							<p:message for="login" display="icon" />

							<p:outputLabel for="password" value="Hasło:" />
							<p:password id="password" value="#{usersNewBean.user.password}" maxlength="20" required="true" 
										match="password2" feedback="true"   
                        				promptLabel="#{valid['password.regMsg']}" weakLabel="#{valid['password.weakLabel']}"  
                        				goodLabel="#{valid['password.goodLabel']}" strongLabel="#{valid['password.strongLabel']}"   
										validatorMessage="#{valid['password.validMsg']}"
										requiredMessage="#{valid['password.regMsg']}" >
		 				 		<f:validateRegex pattern="#{valid['password.regex']}" />
		 					</p:password>
		 					<p:message for="password" display="icon" />
	 						
	 						<p:outputLabel for="password2" value="Powtórz hasło:" />
							<p:password id="password2" value="#{usersNewBean.user.password}" maxlength="20" required="true"
										requiredMessage="#{valid['passwordRepeat.reqMsg']}" >
		 					</p:password>
		 					<p:message for="password2" display="icon" />
	 						
	 						<h:outputLabel for="role" value="Rola:" />
	 						<h:selectOneMenu id="role" value="#{usersNewBean.user.role}" >
							  <f:selectItems value="#{usersNewBean.userRoleValues}" />							    
							</h:selectOneMenu>
							<p:message for="role" display="icon" />
	 						
	 						<f:facet name="footer">  
       							<p:commandButton value="Dodaj" action="#{usersNewBean.createUser()}" update="newUserGrid" ajax="false" />
    						</f:facet>  					
	    			</p:panelGrid>
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>