<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

  <f:view contentType="text/html">
        <h:head>
	        <f:facet name="first">
	            <meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
	            <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
	            <title>CRM</title>
	        </f:facet>
	
			<h:outputStylesheet name="default.css" library="css" />
			<h:outputStylesheet name="syntaxhighlighter.css" library="css" />
			
			<h:outputScript name="primefaces_lang.js" library="js" />
			
        </h:head>

        <h:body>

            <p:layout fullPage="true" >

                <p:layoutUnit id="top" position="north" size="58">
					<h:form>
						<ui:include src="/default/header.xhtml" />
					</h:form>	
                </p:layoutUnit>

                <p:layoutUnit id="left" position="west" size="300" resizable="true" closable="false" collapsible="true" header="Menu" minSize="150">
					<h:form>
						<ui:include src="/default/menu.xhtml" />
					</h:form>			     
                </p:layoutUnit>

                <p:layoutUnit id="center" position="center">
                	<p:messages id="messages" globalOnly="false" showDetail="false" autoUpdate="true" closable="true" />
                
                    <h:form>
						<ui:insert name="content" >
							<ui:include src="/login.xhtml" />
						</ui:insert>
                    </h:form>
                </p:layoutUnit>

				<p:layoutUnit id="bottom" position="south" size="60">
  					<ui:insert name="footer" >
						<ui:include src="/default/footer.xhtml" />
					</ui:insert>
                </p:layoutUnit>
				
            </p:layout>

        </h:body>

    </f:view>
</html>
