<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    		
	    		<f:metadata>
	    			<f:viewParam name="agentId" value="#{agentsEditBean.agentId}" />
	    			<f:viewAction action="#{agentsEditBean.init()}"/>
	    		</f:metadata>
    			
    			<p:panel header="Edycja przedstawiciela" rendered="#{agentsEditBean.agent != null}">
	    			<p:panelGrid id="editAgentGrid" columns="3" >		    				
						<p:outputLabel for="name" value="Imię:" />
	    				<p:inputText id="name" value="#{agentsEditBean.agent.name}" maxlength="20" required="true" 
	    							validatorMessage="#{valid['agentName.reqMsg']}"
	    							requiredMessage="#{valid['agentName.reqMsg']}" >
							<f:validateRegex pattern="#{valid['agentName.regex']}" />
						</p:inputText>
						<p:message for="name" display="icon" />

						<p:outputLabel for="lastName" value="Nazwisko:" />
						<p:inputText id="lastName" value="#{agentsEditBean.agent.lastName}" maxlength="20" required="true" 
									validatorMessage="#{valid['agentLastName.validMsg']}"
									requiredMessage="#{valid['agentLastName.reqMsg']}" >
	 				 		<f:validateRegex pattern="#{valid['agentLastName.regex']}" />
	 					</p:inputText>
	 					<p:message for="lastName" display="icon" />
 						
 						<p:outputLabel for="phoneNumber" value="Telefon:" />
						<p:inputText id="phoneNumber" value="#{agentsEditBean.agent.phoneNumber}" maxlength="9" 
									validatorMessage="#{valid['phoneNumber.validMsg']}" >
	 				 		<f:validateRegex pattern="#{valid['phoneNumber.regex']}" />
	 					</p:inputText>
	 					<p:message for="phoneNumber" display="icon" />
 						
 						<p:outputLabel for="email" value="E-mail:" />
						<p:inputText id="email" value="#{agentsEditBean.agent.email}" maxlength="50" 
									validatorMessage="#{valid['email.validMsg']}">
	 				 		<f:validateRegex pattern="#{valid['email.regex']}" />
	 					</p:inputText>
	 					<p:message for="email" display="icon" />
 						
 						<f:facet name="footer">  
 							<p:commandButton value="Zapisz" update="editAgentGrid" actionListener="#{agentsEditBean.update()}" />
   						</f:facet>  					
	    			</p:panelGrid>
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>