<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
				<p:dataTable id="agentTable" var="agent" value="#{agentsListBean.getAllAgents()}"  
		                 paginator="true" rows="15"  
		                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
		                 rowsPerPageTemplate="15,30,50"
		                 rowKey="#{agent.id}"
		                 selection="#{agentsListBean.selectedAgent}" 
		                 selectionMode="single"
		                 filteredValue="#{agentsListBean.filteredAgents}"
		                 emptyMessage="#{valid['dataTable.noRecords']}" >  
			        
			        <p:ajax event="rowSelect" update="editBtn, removeBtn, assignToContractorBtn, mailBtn"/>
        			<p:ajax event="rowUnselect" update="editBtn, removeBtn, assignToContractorBtn, mailBtn"/>
			        
			        <f:facet name="header">  
			            Lista przedstawicieli
			        </f:facet>  
			  
			        <p:column filterMatchMode="contains" filterBy="name" >  
			            <f:facet name="header">  
			                <h:outputText value="Imię" />  
			            </f:facet>  
			            <h:outputText value="#{agent.name}" />  
			        </p:column>
			        
			        <p:column filterMatchMode="contains" filterBy="lastName" >  
			            <f:facet name="header">  
			                <h:outputText value="Nazwisko" />  
			            </f:facet>  
			            <h:outputText value="#{agent.lastName}" />  
			        </p:column>
			        
			        <p:column filterMatchMode="contains" filterBy="phoneNumber" >  
			            <f:facet name="header">  
			                <h:outputText value="Telefon" />  
			            </f:facet>  
			            <h:outputText value="#{agent.phoneNumber}" />  
			        </p:column>
			        
			        <p:column  filterMatchMode="contains" filterBy="email" >  
			            <f:facet name="header">  
			                <h:outputText value="E-mail" />  
			            </f:facet>  
			            <h:outputText value="#{agent.email}" />  
			        </p:column>
			        
			        <f:facet name="footer">  
			        	<p:commandButton id="newBtn" value="Nowy" action="#{agentsListBean.goToNewAgentView()}" />
			            <p:commandButton id="editBtn" value="Edytuj" action="#{agentsListBean.loadAgentToEdit()}" 
			            	disabled="#{agentsListBean.selectedAgent == null}" />
			       		<p:commandButton id="removeBtn" value="Usuń" action="#{agentsListBean.removeAgent()}" 
			       			update="agentTable" 
			            	disabled="#{agentsListBean.selectedAgent == null}" />
		             	<p:commandButton id="assignToContractorBtn" value="Przypisz do kontrahenta" type="button" 
		             		disabled="#{agentsListBean.selectedAgent == null}" /> 
       					<p:overlayPanel id="assignToContractorPanel" for="assignToContractorBtn" 
       						widgetVar="assignToContractorOverlayPanel"
       						 hideEffect="fade" dynamic="true">  
							<p:outputLabel for="contractor" value="Nazwa kontrahenta:" />&nbsp;
							<p:autoComplete id="contractor"
								value="#{agentsListBean.contractorForAgent}"
								completeMethod="#{agentsListBean.autoCompleteContractor}"
								maxlength="50" forceSelection="true" scrollHeight="200"
								queryDelay="100" converter="ContractorConverter" >
							</p:autoComplete>
					        <p:commandButton value="Zatwierdź" actionListener="#{agentsListBean.assignToContractor()}" 
					        	update="agentTable" />
					    </p:overlayPanel>
					    <p:commandButton id="mailBtn" value="Nowa wiadomość" action="#{agentsListBean.goToMailAgentView()}" 
			            	disabled="#{agentsListBean.selectedAgent == null or agentsListBean.selectedAgent.email == null}" />
       				</f:facet>       
			    </p:dataTable>  
			
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>