<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<f:metadata>
	    			<f:viewParam name="agentId" value="#{agentsMailBean.agentId}" />
	    			<f:viewAction action="#{agentsMailBean.init()}"/>
	    		</f:metadata>
				<p:panel header="Nowa wiadomość" rendered="#{agentsMailBean.agent != null}" >
					<p:outputLabel value="Odbiorca:"  />
					<p:panelGrid columns="2" styleClass="table-no-border" >	
						<p:outputLabel for="agentName" value="Imię:" />
						<p:outputLabel id="agentName" value="#{agentsMailBean.agent.name}" />
					
						<p:outputLabel for="agentLastName" value="Nazwisko:" />
						<p:outputLabel id="agentLastName" value="#{agentsMailBean.agent.lastName}" />
						
						<p:outputLabel for="mailContent" value="Treść:" />
						<p:inputTextarea id="mailContent" value="#{agentsMailBean.mailContent}" 
							rows="12" cols="120" required="true" requiredMessage="#{valid['agentMail.reqMsg']}" />
							
						<p:outputLabel value="" />
						<p:commandButton value="Wyślij" action="#{agentsMailBean.sendMail()}" update="mailContent"
						styleClass="align-right" />
					</p:panelGrid>
				</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>