<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>
	    <ui:composition>
	    	<h:graphicImage library="images" name="logo.png" styleClass="header-logo" />
	    	<div class="logout-container">
		    	<p:outputLabel for="logoutBtn" value="Jesteś zalogowany jako: #{sessionBean.username}"
		    		rendered="#{sessionBean.loggedIn == true}" />&nbsp;
		    	<p:commandButton id="logoutBtn" value="Wyloguj" action="#{loginBean.logout()}" 
		    		rendered="#{sessionBean.loggedIn == true}" />
	    	</div>	
	    </ui:composition>
    </body>
</html>