<ui:composition 
	  xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui" >

	<h:outputScript name="menu.js" library="js" />

	<p:panelMenu>  
		<p:submenu label="Ogólne" styleClass="general" >
			<p:menuitem value="Ogłoszenia" outcome="/platform/modules/announcements/list.xhtml" icon="ui-icon-comment" />
			<p:menuitem value="Harmonogram" outcome="/platform/modules/schedule/index.xhtml" icon="ui-icon-pin-w" />
		</p:submenu>
		<p:submenu label="Klienci" styleClass="clients" >   
			<p:menuitem value="Przedstawiciele" outcome="/platform/modules/agents/list.xhtml" icon="ui-icon-person"/>  
			<p:menuitem value="Kontrahenci" outcome="/platform/modules/contractors/list.xhtml" icon="ui-icon-home"/>
		</p:submenu>
		<p:submenu label="Produkty" styleClass="products" >  
			<p:menuitem value="Produkty" outcome="/platform/modules/products/list.xhtml" icon="ui-icon-suitcase"/>
		</p:submenu>  
		<p:submenu label="Transakcje" styleClass="transactions" >
			<p:menuitem value="Nowa transakcja" outcome="/platform/modules/transactions/new.xhtml" icon="ui-icon-cart"/>
			<p:menuitem value="Lista oczekujących" outcome="/platform/modules/transactions/list.xhtml" icon="ui-icon-circle-zoomout"/>
		</p:submenu>
		<p:submenu label="Raporty" styleClass="reports" >  
			<p:menuitem value="Obroty" outcome="/platform/modules/reports/sales.xhtml" icon="ui-icon-bookmark"/>
		</p:submenu>
		<p:submenu label="Zarządzanie" styleClass="management" rendered="#{sessionBean.loggedIn and sessionBean.admin}" >  
			<p:menuitem value="Użytkownicy" outcome="/platform/modules/users/list.xhtml" icon="ui-icon-key" />
		</p:submenu>
	</p:panelMenu>
</ui:composition>