<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
	    			<p:panelGrid id="loginGrid" columns="3" rendered="#{!sessionBean.isLoggedIn()}" styleClass="center login-box" >
		    				<f:facet name="header">  
        						Logowanie 
    						</f:facet>  
		    				
		    				<p:outputLabel for="login" value="Login:" />
		    				<p:inputText id="login" value="#{loginBean.login}" maxlength="10" required="true" 
		    							validatorMessage="#{valid['login.reqMsg']}"
		    							requiredMessage="#{valid['login.reqMsg']}" >
								<f:validateRegex pattern="#{valid['login.regex']}" />
							</p:inputText>
							<p:message for="login" display="icon" />

							<p:outputLabel for="password" value="Hasło:" />
							<p:password id="password" value="#{loginBean.password}" maxlength="20" required="true" 
										validatorMessage="#{valid['password.validMsg']}"
										requiredMessage="#{valid['password.regMsg']}" >
		 				 		<f:validateRegex pattern="#{valid['password.regex']}" />
		 					</p:password>
		 					<p:message for="password" display="icon" />
	 						
	 						<f:facet name="footer">  
       							<p:commandButton value="Zaloguj" action="#{loginBean.login()}" update="loginGrid" ajax="false" />
    						</f:facet>  					
	    			</p:panelGrid>
	    			<p:panelGrid columns="1" rendered="#{sessionBean.isLoggedIn()}">
	    				<h:link value="Przejdź do platformy" outcome="platform/index.xhtml" />
	    			</p:panelGrid>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>