<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
      
    <h:body>
    	<ui:composition template="/templates/default.xhtml">
    		<ui:define name="content">
    			<p:panel header="Raport">
    				<p:panelGrid columns="2" styleClass="select-table">
	    				<h:outputLabel for="reportDates" value="Zakres:" />  
				        <p:selectOneMenu id="reportDates" value="#{reportSalesBean.weeks}" >  
				            <f:selectItems value="#{reportSalesBean.reportDates}" />
				            <p:ajax event="change" update="chart" listener="#{reportSalesBean.createCategoryModel()}"/>
				        </p:selectOneMenu>
				 	</p:panelGrid>
				 	
				 	<script type="text/javascript" >
				 	function customExtender() {
				        this.cfg.axes.xaxis.tickOptions = {
				            formatString : '%d'
				        };
				    }
				 	</script>
				 	
	    			<p:barChart id="chart" value="#{reportSalesBean.categoryModel}" legendPosition="ne" 
	    				orientation="horizontal" title="Przychód ze sprzedaży (zł)" min="0" max="#{reportSalesBean.maxValue}" 
	    				style="height:500px" animate="true" extender="customExtender" /> 		
	    		</p:panel>
    		</ui:define>
    	</ui:composition>
    </h:body>
</html>